@font-face {
  font-family: "HuiFontP";
  src: url("../webfonts/HuiFontP29.ttf") format("truetype");
}
@font-face {
  font-family: "NotoColorEmoji";
  src: url("../webfonts/NotoColorEmoji-Regular.ttf") format("truetype");
}